body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(223, 233, 244);
    margin-left: 20px;
    margin-right: 20px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

h1 {color: rgb(15, 15, 122);
    text-align: center;}

.bio {
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}

hr {
    margin-left: 20%;
    margin-right: 20%;
    color: rgb(181, 189, 196);
}